html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Poppins', 'Inter', 'Helvetica', 'Arial', sans-serif;
  background-color: #f1f2f6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
